.poster{
    height: 160px !important;
    width: 110px !important;
}

.slide-mas{
    width: 5px;
    height: 300px;
}
.btn-mas{
    height: 100px;
    width: 120px;
    position: relative;
    top: 24%;
    // left: -25%;
}
