.poster{
    height: 160px !important;
    width: 110px !important;
}



.slide-mas1{
    width: 5px;
    height: 130px;
}
.btn-mas1{
    height: 100px;
    width: 120px;
    position: relative;
    top: 30%;
    // left: -25%;
}
